KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/jtmoulia/.Xauthority", RUN+="/usr/bin/elvish /home/jtmoulia/.local/bin/configure-monitors"
