[user]
	name = jtmoulia
	email = jtmoulia@gmail.com
[alias]
	a = add
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
    po = push origin
[credential]
	helper = cache
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
