/**
 * Credit to https://raw.githubusercontent.com/adrienbarlier/dotfile
 *
*/

* {
    font-size: 12px;
    font-family: "DejaVu Sans Mono", "Noto Emoji", monospace;
    border-color: transparent;
    text-shadow:  2px 2px 0px #000000;
}

window#waybar {
    background-color: transparent;
}

window#waybar:first-child > box {
    background-color: #282a36;
    color: #f8f8f2;
}

#workspaces {
    padding: 0 4px 0 4px;
    color: #bd93f9;
    font-size: 17px;
}

#workspaces button {
    padding: 0 4px 0 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #bd93f9;
}

#workspaces button:hover {
    background-color: #ff5555;
}

#workspaces button.focused {
    color: #50fa7b;
}

#workspaces button:active {
    color: #50fa7b;
}

#workspaces button.urgent {
    color: #ff8080;
}

#window {
    background-color: transparent;
    padding: 0px 0px 0px 8px;
    font-family: "DejaVu Sans Mono", "Noto Emoji", monospace;
}

#battery,
#network,
#clock,
#cpu,
#pulseaudio,
#backlight,
#memory,
#custom-hostname,
#custom-uptime {
    background-color: transparent;
    padding: 0px 8px 0px 8px;
    font-family: "DejaVu Sans Mono", "Noto Emoji", monospace;
    color: #bd93f9;
}

#tray {
    margin-right: 8px;
    margin-left: 8px;
}
